body {
    background: lemonchiffon;
}

h1 {
    background: #ecd249;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #034d03;
}

h2 {
    background: #e8cc34;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: #249f24;
}
p {
    background: darkorange;
}

p {

    font-size: 30px;
    color: black;
}


ul > li {
    background: gold;
}

ol > li {

    font-size: 20px;
    color: darkgreen;
}

