.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.card {
    background: lemonchiffon;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid black;
}
.description > h3,p {
    text-align: center;
    margin: 30px;
}
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-box>button{
    width: 100px;
    height: 50px;
}